.feature{
    margin: var(--mb-full) 0;
    &__data{
        grid-template-columns: repeat(2,1fr);
        padding: var( --biggest-font-size) 0;
    }
  

    &__sub-title{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns:  repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        place-items: center;
   
    }
    .box-1{
        grid-column: 1 / 5;
        h3,h4{
            padding:var(--mb-1) 0 0 0;

        }
        h3{
            font-size: var(--h4-font);
        }
        p{
            padding:var(--smaller-font) 0 0 0;
            font-size: var(--smaller-font);
        }
        .button-small{
            margin: var(--mb-1) 0 0 0;
        }
    }
    .box-2{
        grid-row: 2 ;
        grid-column: 2/ 3;
        h4{
            padding:var(--mb-1) 0 0 0;
        }
        p{
            padding:.500rem 0 0 0;
            font-size: var(--smaller-font);
        }
    }
    .box-3{
    
        grid-row: 2 ;
        grid-column: 4/ 5;
        h4{
            padding:var(--mb-1) 0 0 0;
        }
        p{
            padding:.500rem 0 0 0;
            font-size: var(--smaller-font);
        }
    }

    &__img{
        max-width: 532px;
        height: 600px;
        order: -1;
        border: 20px solid  rgba(161, 154, 154, 0);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }


}