@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap");
:root {
  --top-height: 2rem;
  /*========== Colors ==========*/
  --hue: 33;
  --sat: 50%;
  --light: 7%;
  --bg-color: hsl(0, 0%, var(--light));
  --first-color: hsl(var(--hue), 94%, 69%);
  --second-color: hsl(225, var(--sat), 50%);
  --mood-color: hsl(219, var(--set), 83%);
  --title-color: hsl(218, 30%, var(--light));
  --text-color: hsl(, var(--set), 28%);
  --text-color-light: hsl(207, 14%, var(--set));
  --container-color: #FFF;
  /*========== Font and typography ==========*/
  /*========== Font family ==========*/
  --font-body: "Montserrat", sans-serif;
  --font-Lato:"Lato",sans-serif;
  /*========== Font weight ==========*/
  --font-light:400;
  --font-semi-bold:600;
  --font-bold:700 ;
  /*========== Margenes ==========*/
  --mb-1: 1rem;
  --mb-full:12rem ;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 5rem;
    --h2-font: 4.5rem;
    --h3-font: 3.2rem;
    --h4-font: 1.8rem;
    --h5-font: 1.5rem;
    --normal-font:1rem;
    --small-font: .900rem;
    --smaller-font: .80rem;
  }
}

*, ::before, ::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font);
  background: var(--container-color);
  color: var(--text-color);
  transition: 0.5s;
}

h1, h2, h3 {
  font-weight: var(--font-semi-bold);
  color: var(--text-color);
  line-height: 1.5;
}

ul {
  list-style: none;
}

h3 {
  font-family: var(--font-Lato);
}

h1, h2 {
  font-family: var(--body-font);
}

a {
  text-decoration: none;
  font-family: var(--font-Lato);
}

p {
  font-family: var(--font-Lato);
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 4.5rem 0 1rem;
}
.section__title-center {
  line-height: 0.9;
  font-size: var(--h3-font);
  color: var(--title-color);
  text-align: center;
}

.left-heading {
  line-height: 1;
  font-size: var(--h3-font);
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 1400px;
  padding: 0 var(--top-height);
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.curve-img {
  border-radius: 400px 400px 5px 5px;
}

.btn-first-color {
  background-color: var(--first-color) !important;
}

.flex {
  display: flex;
  gap: 1rem;
}

.change-my-color {
  fill: #4b4b6b;
}

.summit__btn {
  outline: none;
  border: 3px solid var(--second-color);
  border-radius: 10px;
}

header {
  height: auto;
  width: 100%;
  padding: var(--top-height) 0 0 0;
  background-color: var(--first-color);
  align-items: center;
}
header .container {
  margin: 0 auto;
}

.nav, .nav__div, .nav__list, .logo {
  height: 2rem;
  display: flex;
  align-items: center;
}

.nav {
  justify-content: space-between;
}
.nav__navbar {
  width: 60%;
}
.nav__div {
  justify-content: space-between;
  width: 100%;
}
.nav__link {
  font-size: 1.1rem;
  color: var(--container-color);
  font-weight: var(--font-semi-bold);
  transition: 0.4s;
  position: relative;
  cursor: pointer;
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: black;
}
.nav__link:hover::after {
  width: 100%;
  transition: 0.4s;
}
.nav__link:hover {
  color: var(--second-color);
}

.link-btn {
  position: relative;
}
.link-btn i {
  margin: 0 5px;
  cursor: pointer;
}
.link-btn .toggle__list {
  display: none;
  position: absolute;
  background-color: var(--title-color);
  padding: 10px 30px;
  left: 0;
  bottom: 0px;
  height: 3rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: var(--font-semi-bold);
}
.link-btn .toggle__list::before {
  content: "";
  position: absolute;
  height: 26px;
  left: 0;
  bottom: 45px;
  border-radius: 10px;
  width: 100%;
  background-color: transparent;
}

.link-btn:hover .toggle__list {
  bottom: -58px;
  display: block;
}

.button-small {
  background-color: var(--second-color);
  text-align: center;
  outline: none;
  border: none;
  padding: 10px 30px;
  height: 3rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  color: var(--container-color);
  font-weight: var(--font-semi-bold);
  box-shadow: rgba(56, 29, 207, 0.15) 0px 48px 100px 0px;
  transition: all 0.4s;
}

.button-small:hover {
  background: var(--title-color);
}

.burgar > div {
  width: 40px;
  height: 5px;
  margin-bottom: 8px;
  background-color: var(--container-color);
  display: none;
}

.home {
  height: 80vh;
  background-color: var(--first-color);
  margin-bottom: var(--mb-full);
}
.home__container {
  grid-template-columns: repeat(2, 1fr);
  padding-top: var(--biggest-font-size);
}
.home__title {
  position: relative;
  font-size: var(--biggest-font-size);
  line-height: 0.9;
  letter-spacing: -0.1rem;
  color: var(--container-color);
  font-weight: var(--font-semi-bold);
  z-index: 1;
}
.home__circle::before {
  content: "";
  position: absolute;
  width: 70px;
  top: -20px;
  left: -20px;
  border-radius: 50%;
  height: 70px;
  z-index: -1;
  background: linear-gradient(90deg, #ea891c, #ec9028, #ee9633, #f19d3e, #f3a348, #f5a952, #f7b05b, #f9b665);
}
.home__depcription {
  margin: var(--md-1);
  width: 427px;
  color: var(--container-color);
  margin-top: var(--mb-1);
  font-weight: var(--font-light);
  font-size: var(--h5-font);
  letter-spacing: 0.2rem;
  line-height: 1.3;
}

.home__img {
  width: 600px;
  height: 700px;
  margin-left: -7rem;
  border: 20px solid rgba(233, 163, 65, 0.35);
  box-shadow: rgba(248, 157, 59, 0.4) 0px 30px 90px;
}

.sb-example-1 {
  position: relative;
}
.sb-example-1 .search {
  margin-top: 3rem;
  width: 100%;
  position: absolute;
  display: flex;
}
.sb-example-1 .searchTerm {
  width: 100%;
  height: 80px;
  box-shadow: rgba(233, 130, 33, 0.15) 0px 48px 100px 0px;
  padding-right: 200px;
  padding-left: 80px;
  font-size: 20px;
  color: #9DBFAF;
  outline: none;
}
.sb-example-1 .searchTerm:focus {
  color: var(--second-color);
}
.sb-example-1 .searchButton {
  position: absolute;
  right: 1rem;
  top: 15px;
  width: 10rem;
  height: 50px;
  border: none;
  background: var(--second-color);
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: rgba(56, 29, 207, 0.15) 0px 48px 100px 0px;
}
.sb-example-1 .searchButton2 {
  position: absolute;
  left: 20px;
  top: 26px;
  border: none;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.patnner {
  margin-bottom: var(--mb-full);
}
.patnner__container {
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

.about__card {
  padding: 5rem 0;
  grid-template-columns: repeat(5, 1fr);
}
.about__card .card-1, .about__card .card-2, .about__card .card-3 {
  margin: 0 auto;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 80px;
  font-size: 30px;
  color: var(--container-color);
}
.about__card .line, .about__card .line2 {
  padding-top: 2rem;
}
.about__card .card-1 {
  background-color: var(--first-color);
}
.about__card .card-2 {
  background-color: var(--second-color);
}
.about__card .card-3 {
  background-color: black;
}

.card__data {
  text-align: center;
}

.card__text {
  margin: var(--mb-1);
  width: 200px;
  font-size: var(--small-font);
  color: burlywood;
}

.deal {
  margin: var(--mb-full) 0;
}
.deal__data {
  display: flex;
  justify-content: space-between;
}
.deal__title {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.deal__text {
  margin-top: var(--mb-1);
  width: 500px;
  margin-bottom: var(--h3-font);
}

.contain {
  display: flex;
  flex-direction: column;
}

.item__text {
  margin-bottom: var(--h3-font);
}
.item__text hr {
  margin-top: var(--h5-font);
  width: 200px;
  background: var(--first-color);
}

.contain {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

.item {
  align-items: center;
  color: white;
  display: flex;
  height: 257px;
  margin: 0px 14px;
  justify-content: center;
}

.feature {
  margin: var(--mb-full) 0;
}
.feature__data {
  grid-template-columns: repeat(2, 1fr);
  padding: var(--biggest-font-size) 0;
}
.feature__sub-title {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
}
.feature .box-1 {
  grid-column: 1/5;
}
.feature .box-1 h3, .feature .box-1 h4 {
  padding: var(--mb-1) 0 0 0;
}
.feature .box-1 h3 {
  font-size: var(--h4-font);
}
.feature .box-1 p {
  padding: var(--smaller-font) 0 0 0;
  font-size: var(--smaller-font);
}
.feature .box-1 .button-small {
  margin: var(--mb-1) 0 0 0;
}
.feature .box-2 {
  grid-row: 2;
  grid-column: 2/3;
}
.feature .box-2 h4 {
  padding: var(--mb-1) 0 0 0;
}
.feature .box-2 p {
  padding: 0.5rem 0 0 0;
  font-size: var(--smaller-font);
}
.feature .box-3 {
  grid-row: 2;
  grid-column: 4/5;
}
.feature .box-3 h4 {
  padding: var(--mb-1) 0 0 0;
}
.feature .box-3 p {
  padding: 0.5rem 0 0 0;
  font-size: var(--smaller-font);
}
.feature__img {
  max-width: 532px;
  height: 600px;
  order: -1;
  border: 20px solid rgba(161, 154, 154, 0);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.contact .contact__data {
  grid-template-columns: repeat(2, 1fr);
  padding: var(--biggest-font-size) 0;
  place-items: start;
}
.contact .contact__sub-title {
  grid-template-columns: 1fr;
  place-items: start;
  row-gap: 50px;
}
.contact .contact__sub-title .address h4 {
  padding: var(--h3-font) 0 0 0;
}
.contact .contact__sub-title .address p {
  padding: 0.5rem 0 0 0;
  font-size: var(--smaller-font);
}
.contact__img {
  order: 1;
  max-width: 532px;
  height: 600px;
  border: 20px solid rgba(161, 154, 154, 0);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.texto {
  margin-bottom: var(--mb-full);
}
.texto .texto__data {
  padding: var(--biggest-font-size) 0;
}

.contain-1 {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}
.contain-1 .item {
  display: flex;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  height: 367px;
  padding: var(--mb-1);
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  color: var(--title-color);
}
.contain-1 .item .star i {
  color: var(--first-color);
}
.contain-1 .item .profile {
  display: flex;
  text-align: center;
}
.contain-1 .item .profile__text {
  margin-left: 30px;
}
.contain-1 .item .profile__text h4 {
  padding: var(--mb-1) 0 0 0;
}
.contain-1 .item .profile__text p {
  padding: 0.5rem 0 0 0;
  font-size: var(--smaller-font);
}

.email {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--mb-full);
  height: 50vh;
}
.email__container {
  text-align: center;
}
.email__title {
  padding: var(--h3-font);
  font-size: var(--h3-font);
}

.footer {
  height: 50vh;
  background-color: var(--title-color);
}
.footer__container {
  grid-template-columns: repeat(4, 1fr);
}
.footer__link {
  color: white;
}
.footer__content h3, .footer__content p {
  color: white;
  margin: var(--mb-1) 0px;
}
.footer__content ul li {
  margin-bottom: 0.7rem;
}

@media screen and (max-width: 968px) {
  .home {
    height: 70vh;
  }
  .home__img {
    width: 500px;
    height: 550px;
  }
}

/*# sourceMappingURL=style.css.map */
